<a href="https://colab.research.google.com/github/misrori/coding2023/blob/main/session10_to_share.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd



top50 = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/IMDB_50.csv',encoding='unicode_escape')
top200 = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/IMDB_top200.csv',encoding='unicode_escape')

In [40]:
top50.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,Dog Day Afternoon,1975,R,25 Dec 1975,125 min,"Biography, Crime, Drama",Sidney Lumet,"Frank Pierson (screenplay), P.F. Kluge (based ...","Penelope Allen, Sully Boyar, John Cazale, Beul...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/dog_day_aftern...,16 Dec 1997,NaN,WARNER BROTHERS PICTURES,NaN,True
1,2,Jaws,1975,PG,20 Jun 1975,124 min,"Adventure, Drama, Thriller",Steven Spielberg,"Peter Benchley (screenplay), Carl Gottlieb (sc...","Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/jaws/,11 Jul 2000,NaN,Universal Pictures,http://www.jaws25.com/,True
2,3,Zootopia,2016,PG,04 Mar 2016,108 min,"Animation, Adventure, Comedy","Jared Bush, Byron Howard, Rich Moore","Byron Howard (story by), Rich Moore (story by)...","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/zootopia/,07 Jun 2016,"$341,264,012",Walt Disney Animation Studios,http://movies.disney.com/zootopia,True
3,4,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Sci-Fi",James Gunn,"James Gunn, Dan Abnett (based on the Marvel co...","Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/guardians_of_t...,NaN,"$380,236,369",Walt Disney Pictures,https://marvel.com/guardians,True
4,5,Pirates of the Caribbean: The Curse of the Bla...,2003,PG-13,09 Jul 2003,143 min,"Action, Adventure, Fantasy",Gore Verbinski,"Ted Elliott (screen story), Terry Rossio (scre...","Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/pirates_of_the...,02 Dec 2003,"$305,343,252",Buena Vista Pictures,http://disney.go.com/disneyvideos/liveaction/p...,True

In [41]:
top200.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/shawshank_rede...,Â°January/1998/27,NaN,Columbia Pictures,NaN,True
1,2,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather/,Â°October/2001/09,NaN,Paramount Pictures,http://www.thegodfather.com,True
2,3,The Godfather: Part II,1974,R,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather_part...,Â°May/2005/24,NaN,Paramount Pictures,http://www.thegodfather.com/,True
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knight/,Â°December/2008/09,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,True
4,5,12 Angry Men,1957,APPROVED,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/1000013-12_ang...,Â°March/2001/06,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,True

# Combine the two data

In [42]:
df = pd.concat([top50, top200])

In [43]:
df.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'Poster', 'Ratings.Source', 'Ratings.Value', 'Metascore', 'imdbVotes',
       'imdbID', 'Type', 'tomatoMeter', 'tomatoImage', 'tomatoRating',
       'tomatoReviews', 'tomatoFresh', 'tomatoRotten', 'tomatoConsensus',
       'tomatoUserMeter', 'tomatoUserRating', 'tomatoUserReviews', 'tomatoURL',
       'DVD', 'BoxOffice', 'Production', 'Website', 'Response'],
      dtype='object')

In [44]:
df.dtypes

Unnamed: 0             int64
Title                 object
Year                   int64
Rated                 object
Released              object
Runtime               object
Genre                 object
Director              object
Writer                object
Actors                object
Plot                  object
Language              object
Country               object
Awards                object
Poster                object
Ratings.Source        object
Ratings.Value         object
Metascore            float64
imdbVotes             object
imdbID                object
Type                  object
tomatoMeter          float64
tomatoImage          float64
tomatoRating         float64
tomatoReviews        float64
tomatoFresh          float64
tomatoRotten         float64
tomatoConsensus      float64
tomatoUserMeter      float64
tomatoUserRating     float64
tomatoUserReviews    float64
tomatoURL             object
DVD                   object
BoxOffice             object
Production            object
Website               object
Response                bool
dtype: object

## Drop unnecessary columns

Delete the followings:

* everything with *tomato*
* Poster
* Website
* Response
* imdbID

In [45]:
# Find columns that start with 'tomato'
columns_to_drop = [col for col in df.columns if col.startswith('tomato')]

# Drop these columns from the DataFrame
df = df.drop(columns=columns_to_drop)
df = df.drop(['Poster', 'Website', 'Response', 'imdbID'], axis=1, errors='ignore')
df.columns = [col.replace('.', '') for col in df.columns]

In [46]:
df.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'RatingsSource', 'RatingsValue', 'Metascore', 'imdbVotes', 'Type',
       'DVD', 'BoxOffice', 'Production'],
      dtype='object')

## Deal with column names

Rename some columns

* **Unnamed: 0** to **IMDB_rank**
* **Runtime** to **Lengt_min**

Make sure all names are lower case and are separeted by _ in case needed.

In [47]:
df = df.rename(columns={'Unnamed: 0': 'IMDB_rank', 'Runtime': 'Lengt_min'})

In [48]:
df.columns

Index(['IMDB_rank', 'Title', 'Year', 'Rated', 'Released', 'Lengt_min', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'RatingsSource', 'RatingsValue', 'Metascore', 'imdbVotes', 'Type',
       'DVD', 'BoxOffice', 'Production'],
      dtype='object')

## Change data types

`relesed` and `dvd` should be dates

https://datagy.io/python-string-to-date/

In [49]:
df['DVD']

0            16 Dec 1997
1            11 Jul 2000
2            07 Jun 2016
3                    NaN
4            02 Dec 2003
             ...
195     Â°January/1999/05
196     Â°October/2002/08
197       Â°April/2017/11
198       Â°March/1998/31
199    Â°December/2014/09
Name: DVD, Length: 250, dtype: object

In [50]:
df['Released'] = pd.to_datetime(df['Released'], errors='coerce')
df['DVD'] = pd.to_datetime(df['DVD'], errors='coerce')

In [51]:
df['Released']

0     1975-12-25
1     1975-06-20
2     2016-03-04
3     2017-05-05
4     2003-07-09
         ...
195   1930-08-24
196   1991-11-22
197   2017-01-06
198   1996-01-05
199   2014-08-01
Name: Released, Length: 250, dtype: datetime64[ns]

In [52]:
df['DVD']

0     1997-12-16
1     2000-07-11
2     2016-06-07
3            NaT
4     2003-12-02
         ...
195          NaT
196          NaT
197          NaT
198          NaT
199          NaT
Name: DVD, Length: 250, dtype: datetime64[ns]

The `IMDB rank` should be string.

In [53]:
df['IMDB_rank'] = df['IMDB_rank'].astype(str)
df.dtypes

IMDB_rank                object
Title                    object
Year                      int64
Rated                    object
Released         datetime64[ns]
Lengt_min                object
Genre                    object
Director                 object
Writer                   object
Actors                   object
Plot                     object
Language                 object
Country                  object
Awards                   object
RatingsSource            object
RatingsValue             object
Metascore               float64
imdbVotes                object
Type                     object
DVD              datetime64[ns]
BoxOffice                object
Production               object
dtype: object

## `metascore`, `imdb_votes` and `box office` should be numeric.

In [54]:
df['BoxOffice']

0               NaN
1               NaN
2      $341,264,012
3      $380,236,369
4      $305,343,252
           ...
195             NaN
196     $47,611,331
197     $51,694,854
198             NaN
199    $270,592,504
Name: BoxOffice, Length: 250, dtype: object

In [55]:
pd.to_numeric(df['BoxOffice'].str.replace('$', '').str.replace(',', ''), errors = 'coerce')

0              NaN
1              NaN
2      341264012.0
3      380236369.0
4      305343252.0
          ...
195            NaN
196     47611331.0
197     51694854.0
198            NaN
199    270592504.0
Name: BoxOffice, Length: 250, dtype: float64

In [56]:
df['BoxOffice'] = pd.to_numeric(df['BoxOffice'].str.replace('$', '').str.replace(',', ''), errors = 'coerce')
df['imdbVotes'] = pd.to_numeric(df['imdbVotes'].str.replace(',', ''))
df['Metascore'] = pd.to_numeric(df['Metascore'])
df.dtypes

IMDB_rank                object
Title                    object
Year                      int64
Rated                    object
Released         datetime64[ns]
Lengt_min                object
Genre                    object
Director                 object
Writer                   object
Actors                   object
Plot                     object
Language                 object
Country                  object
Awards                   object
RatingsSource            object
RatingsValue             object
Metascore               float64
imdbVotes                 int64
Type                     object
DVD              datetime64[ns]
BoxOffice               float64
Production               object
dtype: object

In [57]:
df.head().T

,0,1,2,3,4
IMDB_rank,1,2,3,4,5
Title,Dog Day Afternoon,Jaws,Zootopia,Guardians of the Galaxy Vol. 2,Pirates of the Caribbean: The Curse of the Bla...
Year,1975,1975,2016,2017,2003
Rated,R,PG,PG,PG-13,PG-13
Released,1975-12-25 00:00:00,1975-06-20 00:00:00,2016-03-04 00:00:00,2017-05-05 00:00:00,2003-07-09 00:00:00
Lengt_min,125 min,124 min,108 min,136 min,143 min
Genre,"Biography, Crime, Drama","Adventure, Drama, Thriller","Animation, Adventure, Comedy","Action, Adventure, Sci-Fi","Action, Adventure, Fantasy"
Director,Sidney Lumet,Steven Spielberg,"Jared Bush, Byron Howard, Rich Moore",James Gunn,Gore Verbinski
Writer,"Frank Pierson (screenplay), P.F. Kluge (based ...","Peter Benchley (screenplay), Carl Gottlieb (sc...","Byron Howard (story by), Rich Moore (story by)...","James Gunn, Dan Abnett (based on the Marvel co...","Ted Elliott (screen story), Terry Rossio (scre..."
Actors,"Penelope Allen, Sully Boyar, John Cazale, Beul...","Roy Scheider, Robert Shaw, Richard Dreyfuss, L...","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...","Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...","Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei..."
Plot,A man robs a bank to pay for his lover's opera...,A giant great white shark arrives on the shore...,"In a city of anthropomorphic animals, a rookie...",The Guardians must fight to keep their newfoun...,Blacksmith Will Turner teams up with eccentric...
Language,English,English,English,English,English
Country,USA,USA,USA,USA,USA
Awards,Won 1 Oscar. Another 13 wins & 19 nominations.,Won 3 Oscars. Another 10 wins & 17 nominations.,Won 1 Oscar. Another 36 wins & 58 nominations.,NaN,Nominated for 5 Oscars. Another 36 wins & 96 n...
RatingsSource,Internet Movie Database,Internet Movie Database,Internet Movie Database,Internet Movie Database,Internet Movie Database
RatingsValue,8.0/10,8.0/10,8.1/10,8.1/10,8.0/10
Metascore,NaN,86.0,78.0,67.0,63.0
imdbVotes,194970,445407,304299,175272,869710
Type,movie,movie,movie,movie,movie
DVD,1997-12-16 00:00:00,2000-07-11 00:00:00,2016-06-07 00:00:00,NaT,2003-12-02 00:00:00
BoxOffice,NaN,NaN,341264012.0,380236369.0,305343252.0
Production,WARNER BROTHERS PICTURES,Universal Pictures,Walt Disney Animation Studios,Walt Disney Pictures,Buena Vista Pictures

In [58]:
df.dtypes

IMDB_rank                object
Title                    object
Year                      int64
Rated                    object
Released         datetime64[ns]
Lengt_min                object
Genre                    object
Director                 object
Writer                   object
Actors                   object
Plot                     object
Language                 object
Country                  object
Awards                   object
RatingsSource            object
RatingsValue             object
Metascore               float64
imdbVotes                 int64
Type                     object
DVD              datetime64[ns]
BoxOffice               float64
Production               object
dtype: object

## Create a month and day column. It should be int. The missing date should be january 1

In [59]:
df['Released'] = df['Released'].fillna(pd.to_datetime('1900-01-01'))

df['Month'] = df['Released'].dt.month.astype(int)
df['Day'] = df['Released'].dt.day.astype(int)

In [60]:
df['Month'].value_counts()

Month
12    34
1     25
6     24
9     23
10    23
11    21
7     20
8     19
2     19
3     16
5     14
4     12
Name: count, dtype: int64


## `length_min`

This should be numeric, without the *min* word.

In [61]:
df = df.rename(columns={'Lengt_min': 'Length'})
df['Length'] = pd.to_numeric(df['Length'].str.replace('min', '').str.strip())
df['Length']

0      125
1      124
2      108
3      136
4      143
      ...
195    136
196     84
197    118
198    129
199    121
Name: Length, Length: 250, dtype: int64

In [37]:
df['Length'] = pd.to_numeric(df['Length'])


### `genre`

There are 1, 2 or 3 genre given for a film, to be able to deal with this we need them in different columns. Also pay attention to extra white spaces!

In [64]:
df['Genre']

0           Biography, Crime, Drama
1        Adventure, Drama, Thriller
2      Animation, Adventure, Comedy
3         Action, Adventure, Sci-Fi
4        Action, Adventure, Fantasy
                   ...
195                      Drama, War
196      Animation, Family, Fantasy
197                Biography, Drama
198       Mystery, Sci-Fi, Thriller
199       Action, Adventure, Sci-Fi
Name: Genre, Length: 250, dtype: object

In [67]:
df[['Genre1', 'Genre2', 'Genre3']] = df['Genre'].str.split(',', expand=True)

df['Genre1'] = df['Genre1'].str.strip()
df['Genre2'] = df['Genre2'].str.strip()
df['Genre3'] = df['Genre3'].str.strip()
df.columns

Index(['IMDB_rank', 'Title', 'Year', 'Rated', 'Released', 'Length', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'RatingsSource', 'RatingsValue', 'Metascore', 'imdbVotes', 'Type',
       'DVD', 'BoxOffice', 'Production', 'Month', 'Day', 'Genre1', 'Genre2',
       'Genre3'],
      dtype='object')

In [68]:
df

,IMDB_rank,Title,Year,Rated,Released,Length,Genre,Director,Writer,Actors,...,imdbVotes,Type,DVD,BoxOffice,Production,Month,Day,Genre1,Genre2,Genre3
0,1,Dog Day Afternoon,1975,R,1975-12-25,125,"Biography, Crime, Drama",Sidney Lumet,"Frank Pierson (screenplay), P.F. Kluge (based ...","Penelope Allen, Sully Boyar, John Cazale, Beul...",...,194970,movie,1997-12-16,NaN,WARNER BROTHERS PICTURES,12,25,Biography,Crime,Drama
1,2,Jaws,1975,PG,1975-06-20,124,"Adventure, Drama, Thriller",Steven Spielberg,"Peter Benchley (screenplay), Carl Gottlieb (sc...","Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",...,445407,movie,2000-07-11,NaN,Universal Pictures,6,20,Adventure,Drama,Thriller
2,3,Zootopia,2016,PG,2016-03-04,108,"Animation, Adventure, Comedy","Jared Bush, Byron Howard, Rich Moore","Byron Howard (story by), Rich Moore (story by)...","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",...,304299,movie,2016-06-07,341264012.0,Walt Disney Animation Studios,3,4,Animation,Adventure,Comedy
3,4,Guardians of the Galaxy Vol. 2,2017,PG-13,2017-05-05,136,"Action, Adventure, Sci-Fi",James Gunn,"James Gunn, Dan Abnett (based on the Marvel co...","Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",...,175272,movie,NaT,380236369.0,Walt Disney Pictures,5,5,Action,Adventure,Sci-Fi
4,5,Pirates of the Caribbean: The Curse of the Bla...,2003,PG-13,2003-07-09,143,"Action, Adventure, Fantasy",Gore Verbinski,"Ted Elliott (screen story), Terry Rossio (scre...","Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...",...,869710,movie,2003-12-02,305343252.0,Buena Vista Pictures,7,9,Action,Adventure,Fantasy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,All Quiet on the Western Front,1930,UNRATED,1930-08-24,136,"Drama, War",Lewis Milestone,"Erich Maria Remarque (by), Maxwell Anderson (a...","Louis Wolheim, Lew Ayres, John Wray, Arnold Lucy",...,49038,movie,NaT,NaN,Universal Pictures,8,24,Drama,War,None
196,197,Beauty and the Beast,1991,G,1991-11-22,84,"Animation, Family, Fantasy","Gary Trousdale, Kirk Wise","Linda Woolverton (animation screenplay by), Br...","Robby Benson, Jesse Corti, Rex Everhart, Angel...",...,336430,movie,NaT,47611331.0,Buena Vista,11,22,Animation,Family,Fantasy
197,198,Lion,2016,PG-13,2017-01-06,118,"Biography, Drama",Garth Davis,"Saroo Brierley (adapted from the book ""A Long ...","Sunny Pawar, Abhishek Bharate, Priyanka Bose, ...",...,113296,movie,NaT,51694854.0,See-Saw Films,1,6,Biography,Drama,None
198,199,Twelve Monkeys,1995,R,1996-01-05,129,"Mystery, Sci-Fi, Thriller",Terry Gilliam,"Chris Marker (film La JetÃƒÂ©e), David Webb Peop...","Joseph Melito, Bruce Willis, Jon Seda, Michael...",...,492644,movie,NaT,NaN,Universal Pictures,1,5,Mystery,Sci-Fi,Thriller
199,200,Guardians of the Galaxy,2014,PG-13,2014-08-01,121,"Action, Adventure, Sci-Fi",James Gunn,"James Gunn, Nicole Perlman, Dan Abnett (based ...","Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",...,768444,movie,NaT,270592504.0,Walt Disney Pictures,8,1,Action,Adventure,Sci-Fi

### `director`

Keep only the first one listed.

In [29]:
df['Director'] = df['Director'].str.split(',').str[0].str.strip()

In [30]:
df['Director']

0          Sidney Lumet
1      Steven Spielberg
2            Jared Bush
3            James Gunn
4        Gore Verbinski
             ...
195     Lewis Milestone
196      Gary Trousdale
197         Garth Davis
198       Terry Gilliam
199          James Gunn
Name: Director, Length: 250, dtype: object


### `writer`

Keep only the first one listed!

In [31]:
df['Writer'] = df['Writer'].str.split(',').str[0]
df['Writer'] = df['Writer'].str.replace(r'\(.*\)', '', regex=True).str.strip()

In [32]:
df['Writer']

0             Frank Pierson
1            Peter Benchley
2              Byron Howard
3                James Gunn
4               Ted Elliott
               ...
195    Erich Maria Remarque
196        Linda Woolverton
197          Saroo Brierley
198            Chris Marker
199              James Gunn
Name: Writer, Length: 250, dtype: object


#### `language`

Keep only the first one listed.

In [98]:
df['Language'] = df['Language'].str.split(',').str[0].str.strip()

In [99]:
df['Language']

0      English
1      English
2      English
3      English
4      English
        ...
195    English
196    English
197    English
198    English
199    English
Name: Language, Length: 250, dtype: object


#### `country`

Keep only the first one listed.

In [102]:
df['Country'] = df['Country'].str.split(',').str[0].str.strip()

In [103]:
df['Country']

0      USA
1      USA
2      USA
3      USA
4      USA
      ...
195    USA
196    USA
197     UK
198    USA
199    USA
Name: Country, Length: 250, dtype: object


#### `ratings_value`

Should be numeric so /10  is not needed.

In [108]:
df['RatingsValue'] = df['RatingsValue'].str.replace('/10', '').str.strip()

In [109]:
df['RatingsValue']

0      8.0
1      8.0
2      8.1
3      8.1
4      8.0
      ...
195    8.1
196    8.0
197    8.1
198    8.0
199    8.1
Name: RatingsValue, Length: 250, dtype: object

In [111]:
list(df['Awards'])[0:20]

['Won 1 Oscar. Another 13 wins & 19 nominations.',
 'Won 3 Oscars. Another 10 wins & 17 nominations.',
 'Won 1 Oscar. Another 36 wins & 58 nominations.',
 nan,
 'Nominated for 5 Oscars. Another 36 wins & 96 nominations.',
 'Nominated for 1 Oscar. Another 9 wins & 29 nominations.',
 'Won 1 Oscar. Another 44 wins & 150 nominations.',
 'Nominated for 2 Oscars. Another 11 wins & 5 nominations.',
 'Won 1 Oscar. Another 1 win & 5 nominations.',
 '20 wins & 30 nominations.',
 'Won 1 Oscar. Another 18 wins & 19 nominations.',
 'Won 4 Oscars. Another 13 wins & 10 nominations.',
 'Nominated for 1 Oscar. Another 2 wins & 1 nomination.',
 'Won 4 Oscars. Another 13 wins & 15 nominations.',
 '1 nomination.',
 '33 wins & 51 nominations.',
 'Won 2 Oscars. Another 11 wins & 20 nominations.',
 '1 win.',
 nan,
 'Nominated for 1 Oscar. Another 37 wins & 79 nominations.']

Extract the number of `oscars`, `oscars nomination`, `nominations`, `otherwins`

In [ ]:
# use regex

In [114]:
import re

df['Oscars_Won'] = df['Awards'].str.extract(r'Won (\d+) Oscars?')
df['Oscar_Nominations'] = df['Awards'].str.extract(r'Nominated for (\d+) Oscars?')
df['Total_Nominations'] = df['Awards'].str.extract(r'(\d+) nominations')
df['Other_Wins'] = df['Awards'].str.extract(r'Another (\d+) wins')

award_columns = ['Oscars_Won', 'Oscar_Nominations', 'Total_Nominations', 'Other_Wins']
df[award_columns] = df[award_columns].fillna(0).astype(int)

print(df[award_columns])

     Oscars_Won  Oscar_Nominations  Total_Nominations  Other_Wins
0             1                  0                 19          13
1             3                  0                 17          10
2             1                  0                 58          36
3             0                  0                  0           0
4             0                  5                 96          36
..          ...                ...                ...         ...
195           2                  0                  2           5
196           2                  0                 22          24
197           0                  6                 70          32
198           0                  2                 18           9
199           0                  2                 96          50

[250 rows x 4 columns]

# Long to wide

In [ ]:


# Create a sample DataFrame for long data
df = pd.DataFrame({
    'id': [1, 1, 2, 2, 3, 3],
    'variable': ['A', 'B', 'A', 'C', 'A', 'B'],
    'value': [10, 20, 30, 40, 50, 60]
})

print(df)
# Convert the long data to wide data

wide_data

   id variable  value
0   1        A     10
1   1        B     20
2   2        A     30
3   2        C     40
4   3        A     50
5   3        B     60

variable     A     B     C
id
1         10.0  20.0   NaN
2         30.0   NaN  40.0
3         50.0  60.0   NaN

In [ ]:
wide_data.reset_index()

variable  id     A     B     C
0          1  10.0  20.0   NaN
1          2  30.0   NaN  40.0
2          3  50.0  60.0   NaN

In [ ]:


# Create a sample DataFrame for long data
df = pd.DataFrame({
    'id': [1, 1, 2, 2, 3, 3],
    'variable': ['A', 'B', 'A', 'C', 'A', 'B'],
    'value': [10, 20, 30, 40, 50, 60],
    'value2': [101, 202, 330, 440, 650, 60]
})

print(df)
# Convert the long data to wide data

   id variable  value  value2
0   1        A     10     101
1   1        B     20     202
2   2        A     30     330
3   2        C     40     440
4   3        A     50     650
5   3        B     60      60

         value             value2
variable     A     B     C      A      B      C
id
1         10.0  20.0   NaN  101.0  202.0    NaN
2         30.0   NaN  40.0  330.0    NaN  440.0
3         50.0  60.0   NaN  650.0   60.0    NaN

# Wide to long

In [ ]:
# create data for wide data
df = pd.DataFrame({
    'group': [1, 2, 3],
    'A': [10, 30, 50],
    'B': [20, 40, 60],
    'C': [30, 50, 70]
})

print(df)
# Convert the wide data to long data

   group   A   B   C
0      1  10  20  30
1      2  30  40  50
2      3  50  60  70

   group variable  value
0      1        A     10
1      2        A     30
2      3        A     50
3      1        B     20
4      2        B     40
5      3        B     60
6      1        C     30
7      2        C     50
8      3        C     70

In [ ]:
# create data for wide data
df = pd.DataFrame({
    'group': [1, 2, 3],
    'A': [10, 30, 50],
    'B': [20, 40, 60],
    'C': [30, 50, 70],
    'D': [301, 510, 720]
})

print(df)
# Convert the wide data to long data

   group   A   B   C    D
0      1  10  20  30  301
1      2  30  40  50  510
2      3  50  60  70  720

   group variable  value
0      1        A     10
1      2        A     30
2      3        A     50
3      1        B     20
4      2        B     40
5      3        B     60
6      1        C     30
7      2        C     50
8      3        C     70

In [ ]:
# read wine quality data set from web
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv', sep=';')
df.head()

# crate EDA report with plotnine
from plotnine import *

(ggplot(df)
 + aes('quality')
 + geom_bar()
 + theme_minimal()
)

# predict the quality of wine with linear regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

# split the data into train and test

# fit a linear regression model

# predict the quality of wine

# calculate the RMSE

0.7334703766710778